.register {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    .registerImage {
        display: flex;

        img {
            // max-width: 25%;
            width: 100%;
        }
    }
}

@media screen and (max-width: 500px) {
    .register {
        padding: 0;
        .registerImage {
            // width: 50%;
            display: flex;
            flex-wrap: wrap;

        }       
    }
}