.patients-view {
    width: 100%;
    padding: 10px;
    
    h2 {
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .patients-view-list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        width: 95%;
        margin: 10px auto 0 auto;
    }

    
}