.patient {

    
    h2 {
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .patient-data {
        text-align: left;
        width: 300px;
        padding: 20px;
    }

    
}